body{
    margin:0px;
    padding:opx;
}


header{
    background-color: rgb(25, 0, 255);
    color: whitesmoke;
    height: 6em;
}

header h1{
    font-size: 34px;
    text-align:center;
    font-family:sans-serif;
}

img{width: 300px; 
    height: 180px;
}

footer{
    background-color: aquamarine;
    text-align: center;
    color: rgb(0, 102, 255);
    position: fixed;
    width: 100%;

}

main{
    background-color: aliceblue;
    width: 70%;
     
}